doctype html

html
  head
    meta(charset="utf-8")
    title Cookie Collective

    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Cookie Collective')
    meta(name='description', content='Cookie Collective gathers digital artists involved in real-time creation. This covers video games, art installations, video mapping, demoscene, live coding, etc.')

    meta(property='og:description', content='Cookie Collective gathers digital artists involved in real-time creation. This covers video games, art installations, video mapping, demoscene, live coding, etc.')
    meta(property='og:image', content='/logo.jpg')
    meta(property='og:site_name', content='Cookie Collective')
    meta(property='og:title', content='Cookie Collective')
    meta(property='og:type', content='website')
    meta(property='og:url', content='https://cookie.paris')

    meta(name='twitter:card', content='summary')
    meta(name='twitter:description', content='Cookie Collective gathers digital artists involved in real-time creation. This covers video games, art installations, video mapping, demoscene, live coding, etc.')
    meta(name='twitter:image', content='/logo.jpg')
    meta(name='twitter:site', content='@CookieDemoparty')
    meta(name='twitter:title', content='Cookie Collective')

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Anton|Roboto+Slab")
    link(rel="stylesheet" href="/style.css")
    link(rel="shortcut icon" href="/title-icon.png")

  body
    #container
      img.logo(src="logo.jpg")
      h1 Cookie Collective
      p Cookie Collective gathers <em>digital artists involved in real-time creation</em>. This covers video games, art installations, video mapping, demoscene, live coding, etc.
      p We organize the <em>Cookie Demoparty</em>, a digital art festival which brings together various communities and features demos, experimental video games, machinimas, and concerts.
      p We also regularly prepare <em>live coding parties</em>, in which artists train and create visuals and sounds in front of the audience.
      p Lastly, the collective publishes <em>fanzines</em>, which put the spotlights on various aspects of the digital creation.
      h2 Links
      p: a(href="//2018.cookie.paris") Cookie Demoparty 2018
      p: a(href="//2017.cookie.paris") Cookie Demoparty 2017
      p: a(href="//2016.cookie.paris") Cookie Demoparty 2016
      p: a(href="https://www.facebook.com/CookieDemoparty/") Cookie Collective on Facebook
      p: a(href="https://twitter.com/CookieDemoparty") Cookie Collective on Twitter
